USE [S3K_KIOSCO]
GO
/****** Object:  Table [dbo].[Ciclo]    Script Date: 09/09/2026 10:17:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ciclo](
	[CicloId] [int] IDENTITY(1,1) NOT NULL,
	[RuletaId] [int] NOT NULL,
	[Numero] [int] NOT NULL,
	[FechaInicio] [datetime2](0) NOT NULL,
	[FechaCierre] [datetime2](0) NULL,
	[Cerrado] [bit] NOT NULL,
 CONSTRAINT [PK_Ciclo] PRIMARY KEY CLUSTERED 
(
	[CicloId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 09/09/2026 10:17:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[ClienteId] [int] IDENTITY(1,1) NOT NULL,
	[TipoDocumento] [tinyint] NOT NULL,
	[NumeroDocumento] [varchar](20) NOT NULL,
	[Nombres] [varchar](120) NOT NULL,
	[ApellidoPaterno] [varchar](80) NOT NULL,
	[ApellidoMaterno] [varchar](80) NULL,
	[Correo] [varchar](150) NULL,
	[Telefono] [varchar](30) NULL,
	[AceptaUsoDatos] [bit] NOT NULL,
	[FechaAceptacion] [datetime2](0) NULL,
	[FechaCreacion] [datetime2](0) NOT NULL,
	[FechaModificacion] [datetime2](0) NULL,
	[AceptaWhatsapp] [bit] NOT NULL,
	[AceptaSms] [bit] NOT NULL,
	[AceptaLlamada] [bit] NOT NULL,
	[AceptaEmail] [bit] NOT NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[ClienteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Configuracion]    Script Date: 09/09/2026 10:17:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Configuracion](
	[Clave] [varchar](60) NOT NULL,
	[Valor] [varchar](250) NOT NULL,
	[Descripcion] [varchar](250) NOT NULL,
	[TipoDato] [varchar](20) NOT NULL,
	[FechaModificacion] [datetime2](0) NULL,
 CONSTRAINT [PK_Configuracion] PRIMARY KEY CLUSTERED 
(
	[Clave] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EnvioCliente]    Script Date: 09/09/2026 10:17:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EnvioCliente](
	[EnvioId] [bigint] IDENTITY(1,1) NOT NULL,
	[ClienteId] [int] NOT NULL,
	[JugadaId] [bigint] NULL,
	[Estado] [varchar](12) NOT NULL,
	[Intentos] [int] NOT NULL,
	[ProximoIntento] [datetime2](0) NULL,
	[PeticionJson] [nvarchar](max) NULL,
	[RespuestaJson] [nvarchar](max) NULL,
	[CodigoHttp] [int] NULL,
	[Mensaje] [varchar](500) NULL,
	[FechaCreacion] [datetime2](0) NOT NULL,
	[FechaEnvio] [datetime2](0) NULL,
 CONSTRAINT [PK_EnvioCliente] PRIMARY KEY CLUSTERED 
(
	[EnvioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Jugada]    Script Date: 09/09/2026 10:17:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jugada](
	[JugadaId] [bigint] IDENTITY(1,1) NOT NULL,
	[RuletaId] [int] NOT NULL,
	[TajadaId] [int] NOT NULL,
	[CicloId] [int] NULL,
	[PantallaId] [int] NULL,
	[DescripcionPremio] [varchar](200) NOT NULL,
	[TipoPremio] [tinyint] NOT NULL,
	[MontoPremio] [decimal](18, 2) NOT NULL,
	[ProbabilidadAplicada] [decimal](9, 6) NULL,
	[MontoTopeVigente] [decimal](18, 2) NULL,
	[AnguloFinal] [decimal](10, 4) NOT NULL,
	[SorteoPonderado] [bit] NOT NULL,
	[CandidatasEnSorteo] [int] NOT NULL,
	[Dni] [varchar](20) NULL,
	[Registrado] [bit] NOT NULL,
	[ConsumeCiclo] [bit] NOT NULL,
	[FechaJuego] [datetime2](0) NOT NULL,
	[FechaRegistro] [datetime2](0) NULL,
	[ClienteId] [int] NULL,
	[TipoDocumento] [tinyint] NULL,
	[AfectaTope] [bit] NOT NULL,
 CONSTRAINT [PK_Jugada] PRIMARY KEY CLUSTERED 
(
	[JugadaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pantalla]    Script Date: 09/09/2026 10:17:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pantalla](
	[PantallaId] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [varchar](40) NOT NULL,
	[Nombre] [varchar](120) NOT NULL,
	[SalaId] [int] NULL,
	[RuletaAsignadaId] [int] NULL,
	[UltimaConexion] [datetime2](0) NULL,
	[Activo] [bit] NOT NULL,
	[FechaCreacion] [datetime2](0) NOT NULL,
	[FechaModificacion] [datetime2](0) NULL,
	[Tipo] [varchar](10) NULL,
	[ClaveHash] [varchar](500) NULL,
	[TopeMonto] [decimal](18, 2) NULL,
 CONSTRAINT [PK_Pantalla] PRIMARY KEY CLUSTERED 
(
	[PantallaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ruleta]    Script Date: 09/09/2026 10:17:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ruleta](
	[RuletaId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](150) NOT NULL,
	[Descripcion] [varchar](500) NULL,
	[Activo] [bit] NOT NULL,
	[UsuarioCreacionId] [int] NULL,
	[FechaCreacion] [datetime2](0) NOT NULL,
	[FechaModificacion] [datetime2](0) NULL,
 CONSTRAINT [PK_Ruleta] PRIMARY KEY CLUSTERED 
(
	[RuletaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sala]    Script Date: 09/09/2026 10:17:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sala](
	[SalaId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](120) NOT NULL,
	[Direccion] [varchar](250) NULL,
	[Activo] [bit] NOT NULL,
	[FechaCreacion] [datetime2](0) NOT NULL,
	[FechaModificacion] [datetime2](0) NULL,
 CONSTRAINT [PK_Sala] PRIMARY KEY CLUSTERED 
(
	[SalaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tajada]    Script Date: 09/09/2026 10:17:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tajada](
	[TajadaId] [int] IDENTITY(1,1) NOT NULL,
	[RuletaId] [int] NOT NULL,
	[Descripcion] [varchar](200) NOT NULL,
	[Tipo] [tinyint] NOT NULL,
	[Monto] [decimal](18, 2) NOT NULL,
	[Probabilidad] [decimal](9, 6) NULL,
	[Imagen] [varchar](300) NULL,
	[Orden] [int] NOT NULL,
	[Activo] [bit] NOT NULL,
	[AfectaTope] [bit] NOT NULL,
	[FechaCreacion] [datetime2](0) NOT NULL,
	[FechaModificacion] [datetime2](0) NULL,
 CONSTRAINT [PK_Tajada] PRIMARY KEY CLUSTERED 
(
	[TajadaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TopeDiario]    Script Date: 09/09/2026 10:17:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TopeDiario](
	[Fecha] [date] NOT NULL,
	[Monto] [decimal](18, 2) NOT NULL,
	[Nota] [varchar](250) NULL,
	[UsuarioId] [int] NULL,
	[FechaCreacion] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_TopeDiario] PRIMARY KEY CLUSTERED 
(
	[Fecha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TopePantalla]    Script Date: 09/09/2026 10:17:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TopePantalla](
	[PantallaId] [int] NOT NULL,
	[Fecha] [date] NOT NULL,
	[Monto] [decimal](18, 2) NOT NULL,
	[Nota] [varchar](250) NULL,
	[UsuarioId] [int] NULL,
	[FechaCreacion] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_TopePantalla] PRIMARY KEY CLUSTERED 
(
	[PantallaId] ASC,
	[Fecha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 09/09/2026 10:17:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[UsuarioId] [int] IDENTITY(1,1) NOT NULL,
	[NombreUsuario] [varchar](60) NOT NULL,
	[NombreCompleto] [varchar](150) NOT NULL,
	[PasswordHash] [varchar](500) NOT NULL,
	[Rol] [varchar](20) NOT NULL,
	[Activo] [bit] NOT NULL,
	[DebeCambiarPassword] [bit] NOT NULL,
	[UltimoAcceso] [datetime2](0) NULL,
	[IntentosFallidos] [int] NOT NULL,
	[BloqueadoHasta] [datetime2](0) NULL,
	[FechaCreacion] [datetime2](0) NOT NULL,
	[FechaModificacion] [datetime2](0) NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[UsuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_ConsumoTope]    Script Date: 09/09/2026 10:17:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* Las vistas tambien leian la tajada actual. */
CREATE   VIEW [dbo].[vw_ConsumoTope]
AS
SELECT
    CAST(j.FechaJuego AS DATE)                                  AS Fecha,
    COUNT(*)                                                    AS JugadasTotales,
    SUM(CASE WHEN j.AfectaTope = 1 THEN 1 ELSE 0 END)           AS JugadasQueDescuentan,
    ISNULL(SUM(CASE WHEN j.AfectaTope = 1
                    THEN j.MontoPremio ELSE 0 END), 0)          AS MontoQueDescuenta,
    ISNULL(SUM(j.MontoPremio), 0)                               AS MontoTotalEntregado
FROM dbo.Jugada j
GROUP BY CAST(j.FechaJuego AS DATE);
GO
/****** Object:  View [dbo].[vw_ConsumoTopePantalla]    Script Date: 09/09/2026 10:17:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[vw_ConsumoTopePantalla]
AS
SELECT
    j.PantallaId,
    CAST(j.FechaJuego AS DATE)                                  AS Fecha,
    COUNT(*)                                                    AS JugadasTotales,
    ISNULL(SUM(CASE WHEN j.AfectaTope = 1
                    THEN j.MontoPremio ELSE 0 END), 0)          AS MontoQueDescuenta,
    ISNULL(SUM(j.MontoPremio), 0)                               AS MontoTotalEntregado
FROM dbo.Jugada j
WHERE j.PantallaId IS NOT NULL
GROUP BY j.PantallaId, CAST(j.FechaJuego AS DATE);
GO
/****** Object:  View [dbo].[vw_EnviosCliente]    Script Date: 09/09/2026 10:17:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ---------------------------------------------------------------------------
   Vista de seguimiento
   --------------------------------------------------------------------------- */
CREATE   VIEW [dbo].[vw_EnviosCliente]
AS
SELECT
    e.EnvioId,
    e.Estado,
    e.Intentos,
    e.CodigoHttp,
    e.Mensaje,
    e.FechaCreacion,
    e.FechaEnvio,
    e.ProximoIntento,
    c.NumeroDocumento,
    LTRIM(RTRIM(CONCAT(c.ApellidoPaterno, ' ',
                       ISNULL(c.ApellidoMaterno, ''), ', ',
                       c.Nombres))) AS NombreCompleto
FROM dbo.EnvioCliente e
JOIN dbo.Cliente c ON c.ClienteId = e.ClienteId;
GO
/****** Object:  View [dbo].[vw_JugadaCliente]    Script Date: 09/09/2026 10:17:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ---------------------------------------------------------------------------
   Vista para el reporte
   --------------------------------------------------------------------------- */
CREATE   VIEW [dbo].[vw_JugadaCliente]
AS
SELECT
    j.JugadaId,
    j.FechaJuego,
    j.RuletaId,
    j.DescripcionPremio,
    j.MontoPremio,
    j.Registrado,
    j.Dni                       AS NumeroDocumento,
    j.TipoDocumento,
    c.ClienteId,
    LTRIM(RTRIM(CONCAT(c.ApellidoPaterno, ' ',
                       ISNULL(c.ApellidoMaterno, ''), ', ',
                       c.Nombres)))  AS NombreCompleto,
    c.Correo,
    c.Telefono
FROM dbo.Jugada j
LEFT JOIN dbo.Cliente c ON c.ClienteId = j.ClienteId;
GO
SET IDENTITY_INSERT [dbo].[Ciclo] ON 

INSERT [dbo].[Ciclo] ([CicloId], [RuletaId], [Numero], [FechaInicio], [FechaCierre], [Cerrado]) VALUES (1, 1, 1, CAST(N'2026-09-04T17:22:09.0000000' AS DateTime2), NULL, 0)
INSERT [dbo].[Ciclo] ([CicloId], [RuletaId], [Numero], [FechaInicio], [FechaCierre], [Cerrado]) VALUES (2, 2, 1, CAST(N'2026-09-04T18:59:05.0000000' AS DateTime2), NULL, 0)
SET IDENTITY_INSERT [dbo].[Ciclo] OFF
GO
SET IDENTITY_INSERT [dbo].[Cliente] ON 

INSERT [dbo].[Cliente] ([ClienteId], [TipoDocumento], [NumeroDocumento], [Nombres], [ApellidoPaterno], [ApellidoMaterno], [Correo], [Telefono], [AceptaUsoDatos], [FechaAceptacion], [FechaCreacion], [FechaModificacion], [AceptaWhatsapp], [AceptaSms], [AceptaLlamada], [AceptaEmail]) VALUES (1, 1, N'42126587', N'RICHARD', N'BLANCO', N'ÑAUPA', NULL, N'965841832', 1, CAST(N'2026-09-04T22:48:01.0000000' AS DateTime2), CAST(N'2026-09-04T22:48:01.0000000' AS DateTime2), NULL, 0, 0, 0, 0)
INSERT [dbo].[Cliente] ([ClienteId], [TipoDocumento], [NumeroDocumento], [Nombres], [ApellidoPaterno], [ApellidoMaterno], [Correo], [Telefono], [AceptaUsoDatos], [FechaAceptacion], [FechaCreacion], [FechaModificacion], [AceptaWhatsapp], [AceptaSms], [AceptaLlamada], [AceptaEmail]) VALUES (2, 1, N'42126588', N'GINA EDITH', N'CARRASCO', N'HUAMAN', N'ghalu@hotmail.com', N'965841833', 1, CAST(N'2026-09-05T18:46:06.0000000' AS DateTime2), CAST(N'2026-09-05T18:46:06.0000000' AS DateTime2), CAST(N'2026-09-08T16:36:15.0000000' AS DateTime2), 1, 1, 1, 1)
INSERT [dbo].[Cliente] ([ClienteId], [TipoDocumento], [NumeroDocumento], [Nombres], [ApellidoPaterno], [ApellidoMaterno], [Correo], [Telefono], [AceptaUsoDatos], [FechaAceptacion], [FechaCreacion], [FechaModificacion], [AceptaWhatsapp], [AceptaSms], [AceptaLlamada], [AceptaEmail]) VALUES (3, 2, N'234566666', N'QWERTY', N'REWQ', N'DFGH', N'swe@hotmail.com', N'635874', 1, CAST(N'2026-09-08T12:01:22.0000000' AS DateTime2), CAST(N'2026-09-08T12:01:22.0000000' AS DateTime2), NULL, 0, 0, 1, 1)
SET IDENTITY_INSERT [dbo].[Cliente] OFF
GO
INSERT [dbo].[Configuracion] ([Clave], [Valor], [Descripcion], [TipoDato], [FechaModificacion]) VALUES (N'AUTOCOMPLETAR_DNI', N'1', N'Si esta en 1, al escribir un DNI se consultan sus nombres a un servicio externo', N'BOOL', CAST(N'2026-09-05T18:45:01.0000000' AS DateTime2))
INSERT [dbo].[Configuracion] ([Clave], [Valor], [Descripcion], [TipoDato], [FechaModificacion]) VALUES (N'CICLO_HABILITADO', N'0', N'Si esta en 1, una tajada premiada no repite hasta cerrar el ciclo', N'BOOL', CAST(N'2026-09-07T17:42:51.0000000' AS DateTime2))
INSERT [dbo].[Configuracion] ([Clave], [Valor], [Descripcion], [TipoDato], [FechaModificacion]) VALUES (N'CLIENTE_CORREO_OBLIGATORIO', N'0', N'Si esta en 1, el correo pasa a ser obligatorio', N'BOOL', NULL)
GO
SET IDENTITY_INSERT [dbo].[EnvioCliente] ON 

SET IDENTITY_INSERT [dbo].[EnvioCliente] OFF
GO
SET IDENTITY_INSERT [dbo].[Jugada] ON 

INSERT [dbo].[Jugada] ([JugadaId], [RuletaId], [TajadaId], [CicloId], [PantallaId], [DescripcionPremio], [TipoPremio], [MontoPremio], [ProbabilidadAplicada], [MontoTopeVigente], [AnguloFinal], [SorteoPonderado], [CandidatasEnSorteo], [Dni], [Registrado], [ConsumeCiclo], [FechaJuego], [FechaRegistro], [ClienteId], [TipoDocumento], [AfectaTope]) VALUES (1, 1, 2, 1, 1, N'_', 0, CAST(50.00 AS Decimal(18, 2)), CAST(0.200000 AS Decimal(9, 6)), CAST(5000.00 AS Decimal(18, 2)), CAST(6015.4063 AS Decimal(10, 4)), 1, 6, NULL, 0, 0, CAST(N'2026-09-04T17:22:09.0000000' AS DateTime2), NULL, NULL, NULL, 1)
INSERT [dbo].[Jugada] ([JugadaId], [RuletaId], [TajadaId], [CicloId], [PantallaId], [DescripcionPremio], [TipoPremio], [MontoPremio], [ProbabilidadAplicada], [MontoTopeVigente], [AnguloFinal], [SorteoPonderado], [CandidatasEnSorteo], [Dni], [Registrado], [ConsumeCiclo], [FechaJuego], [FechaRegistro], [ClienteId], [TipoDocumento], [AfectaTope]) VALUES (2, 1, 2, 1, 1, N'_', 0, CAST(50.00 AS Decimal(18, 2)), CAST(0.200000 AS Decimal(9, 6)), CAST(5000.00 AS Decimal(18, 2)), CAST(6026.1078 AS Decimal(10, 4)), 1, 6, NULL, 0, 0, CAST(N'2026-09-04T17:25:08.0000000' AS DateTime2), NULL, NULL, NULL, 1)
INSERT [dbo].[Jugada] ([JugadaId], [RuletaId], [TajadaId], [CicloId], [PantallaId], [DescripcionPremio], [TipoPremio], [MontoPremio], [ProbabilidadAplicada], [MontoTopeVigente], [AnguloFinal], [SorteoPonderado], [CandidatasEnSorteo], [Dni], [Registrado], [ConsumeCiclo], [FechaJuego], [FechaRegistro], [ClienteId], [TipoDocumento], [AfectaTope]) VALUES (3, 1, 1, 1, 1, N'_', 0, CAST(10.00 AS Decimal(18, 2)), CAST(0.400000 AS Decimal(9, 6)), CAST(5000.00 AS Decimal(18, 2)), CAST(6077.0974 AS Decimal(10, 4)), 1, 6, NULL, 0, 0, CAST(N'2026-09-04T17:26:35.0000000' AS DateTime2), NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[Jugada] OFF
GO
SET IDENTITY_INSERT [dbo].[Pantalla] ON 

INSERT [dbo].[Pantalla] ([PantallaId], [Codigo], [Nombre], [SalaId], [RuletaAsignadaId], [UltimaConexion], [Activo], [FechaCreacion], [FechaModificacion], [Tipo], [ClaveHash], [TopeMonto]) VALUES (1, N'PEDESTAL-01', N'Pedestal 1', 1, 1, CAST(N'2026-09-08T21:07:45.0000000' AS DateTime2), 1, CAST(N'2026-09-04T07:50:11.0000000' AS DateTime2), CAST(N'2026-09-07T10:51:59.0000000' AS DateTime2), N'PEDESTAL', NULL, NULL)
INSERT [dbo].[Pantalla] ([PantallaId], [Codigo], [Nombre], [SalaId], [RuletaAsignadaId], [UltimaConexion], [Activo], [FechaCreacion], [FechaModificacion], [Tipo], [ClaveHash], [TopeMonto]) VALUES (2, N'terminal1', N'terminal esquina', NULL, 2, CAST(N'2026-09-08T21:07:45.0000000' AS DateTime2), 1, CAST(N'2026-09-05T13:45:40.0000000' AS DateTime2), CAST(N'2026-09-07T10:54:15.0000000' AS DateTime2), N'WEB', N'100000.d2jrhtT7pPOiciNEOLu5ZA==.FfA7qePAL3WtjJ5L4Ca/9bWvg3QNLUMsHoPJiYtOsDY=', NULL)
SET IDENTITY_INSERT [dbo].[Pantalla] OFF
GO
SET IDENTITY_INSERT [dbo].[Ruleta] ON 

INSERT [dbo].[Ruleta] ([RuletaId], [Nombre], [Descripcion], [Activo], [UsuarioCreacionId], [FechaCreacion], [FechaModificacion]) VALUES (1, N'ruleta lunes', N'es para', 1, 1, CAST(N'2026-09-04T16:28:34.0000000' AS DateTime2), NULL)
INSERT [dbo].[Ruleta] ([RuletaId], [Nombre], [Descripcion], [Activo], [UsuarioCreacionId], [FechaCreacion], [FechaModificacion]) VALUES (2, N'ruleta semanal', N'nueva', 1, 1, CAST(N'2026-09-04T17:31:31.0000000' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Ruleta] OFF
GO
SET IDENTITY_INSERT [dbo].[Sala] ON 

INSERT [dbo].[Sala] ([SalaId], [Nombre], [Direccion], [Activo], [FechaCreacion], [FechaModificacion]) VALUES (1, N'Sala principal', NULL, 1, CAST(N'2026-09-04T07:50:11.0000000' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Sala] OFF
GO
SET IDENTITY_INSERT [dbo].[Tajada] ON 

INSERT [dbo].[Tajada] ([TajadaId], [RuletaId], [Descripcion], [Tipo], [Monto], [Probabilidad], [Imagen], [Orden], [Activo], [AfectaTope], [FechaCreacion], [FechaModificacion]) VALUES (1, 1, N'_', 0, CAST(10.00 AS Decimal(18, 2)), CAST(0.400000 AS Decimal(9, 6)), NULL, 1, 1, 1, CAST(N'2026-09-04T16:29:14.0000000' AS DateTime2), CAST(N'2026-09-04T17:01:40.0000000' AS DateTime2))
INSERT [dbo].[Tajada] ([TajadaId], [RuletaId], [Descripcion], [Tipo], [Monto], [Probabilidad], [Imagen], [Orden], [Activo], [AfectaTope], [FechaCreacion], [FechaModificacion]) VALUES (2, 1, N'_', 0, CAST(50.00 AS Decimal(18, 2)), CAST(0.200000 AS Decimal(9, 6)), NULL, 2, 1, 1, CAST(N'2026-09-04T16:29:55.0000000' AS DateTime2), CAST(N'2026-09-04T17:00:42.0000000' AS DateTime2))
INSERT [dbo].[Tajada] ([TajadaId], [RuletaId], [Descripcion], [Tipo], [Monto], [Probabilidad], [Imagen], [Orden], [Activo], [AfectaTope], [FechaCreacion], [FechaModificacion]) VALUES (3, 1, N'_', 0, CAST(45.00 AS Decimal(18, 2)), CAST(0.100000 AS Decimal(9, 6)), NULL, 3, 1, 1, CAST(N'2026-09-04T16:30:11.0000000' AS DateTime2), CAST(N'2026-09-04T17:00:52.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Tajada] OFF
GO
INSERT [dbo].[TopeDiario] ([Fecha], [Monto], [Nota], [UsuarioId], [FechaCreacion]) VALUES (CAST(N'2026-09-04' AS Date), CAST(6000.00 AS Decimal(18, 2)), NULL, 1, CAST(N'2026-09-04T22:46:37.0000000' AS DateTime2))
INSERT [dbo].[TopeDiario] ([Fecha], [Monto], [Nota], [UsuarioId], [FechaCreacion]) VALUES (CAST(N'2026-09-05' AS Date), CAST(500000.00 AS Decimal(18, 2)), N'testeo', 1, CAST(N'2026-09-05T09:25:22.0000000' AS DateTime2))
INSERT [dbo].[TopeDiario] ([Fecha], [Monto], [Nota], [UsuarioId], [FechaCreacion]) VALUES (CAST(N'2026-09-07' AS Date), CAST(6000.00 AS Decimal(18, 2)), N'qwert', 1, CAST(N'2026-09-07T11:04:44.0000000' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([UsuarioId], [NombreUsuario], [NombreCompleto], [PasswordHash], [Rol], [Activo], [DebeCambiarPassword], [UltimoAcceso], [IntentosFallidos], [BloqueadoHasta], [FechaCreacion], [FechaModificacion]) VALUES (1, N'admin', N'Administrador', N'100000.7OMD03dLMzCdU3bTFnxFEw==.+bPgrTuvWwWjXip5RydbZNJ3A5dKAImj4CZsiRq8l4Y=', N'ADMIN', 1, 0, CAST(N'2026-09-08T17:58:13.0000000' AS DateTime2), 0, NULL, CAST(N'2026-09-04T07:50:11.0000000' AS DateTime2), CAST(N'2026-09-05T07:52:44.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Cliente_Documento]    Script Date: 09/09/2026 10:17:43 ******/
ALTER TABLE [dbo].[Cliente] ADD  CONSTRAINT [UQ_Cliente_Documento] UNIQUE NONCLUSTERED 
(
	[TipoDocumento] ASC,
	[NumeroDocumento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Pantalla_Codigo]    Script Date: 09/09/2026 10:17:43 ******/
ALTER TABLE [dbo].[Pantalla] ADD  CONSTRAINT [UQ_Pantalla_Codigo] UNIQUE NONCLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Usuario_Nombre]    Script Date: 09/09/2026 10:17:43 ******/
ALTER TABLE [dbo].[Usuario] ADD  CONSTRAINT [UQ_Usuario_Nombre] UNIQUE NONCLUSTERED 
(
	[NombreUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Ciclo] ADD  CONSTRAINT [DF_Ciclo_FIni]  DEFAULT (sysdatetime()) FOR [FechaInicio]
GO
ALTER TABLE [dbo].[Ciclo] ADD  CONSTRAINT [DF_Ciclo_Cerrado]  DEFAULT ((0)) FOR [Cerrado]
GO
ALTER TABLE [dbo].[Cliente] ADD  CONSTRAINT [DF_Cliente_Acepta]  DEFAULT ((0)) FOR [AceptaUsoDatos]
GO
ALTER TABLE [dbo].[Cliente] ADD  CONSTRAINT [DF_Cliente_FCrea]  DEFAULT (sysdatetime()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Cliente] ADD  CONSTRAINT [DF_Cliente_Wsp]  DEFAULT ((0)) FOR [AceptaWhatsapp]
GO
ALTER TABLE [dbo].[Cliente] ADD  CONSTRAINT [DF_Cliente_Sms]  DEFAULT ((0)) FOR [AceptaSms]
GO
ALTER TABLE [dbo].[Cliente] ADD  CONSTRAINT [DF_Cliente_Llam]  DEFAULT ((0)) FOR [AceptaLlamada]
GO
ALTER TABLE [dbo].[Cliente] ADD  CONSTRAINT [DF_Cliente_Email]  DEFAULT ((0)) FOR [AceptaEmail]
GO
ALTER TABLE [dbo].[EnvioCliente] ADD  CONSTRAINT [DF_Envio_Estado]  DEFAULT ('PENDIENTE') FOR [Estado]
GO
ALTER TABLE [dbo].[EnvioCliente] ADD  CONSTRAINT [DF_Envio_Intentos]  DEFAULT ((0)) FOR [Intentos]
GO
ALTER TABLE [dbo].[EnvioCliente] ADD  CONSTRAINT [DF_Envio_FCrea]  DEFAULT (sysdatetime()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Jugada] ADD  CONSTRAINT [DF_Jugada_Ponderado]  DEFAULT ((0)) FOR [SorteoPonderado]
GO
ALTER TABLE [dbo].[Jugada] ADD  CONSTRAINT [DF_Jugada_Candidatas]  DEFAULT ((0)) FOR [CandidatasEnSorteo]
GO
ALTER TABLE [dbo].[Jugada] ADD  CONSTRAINT [DF_Jugada_Registrado]  DEFAULT ((0)) FOR [Registrado]
GO
ALTER TABLE [dbo].[Jugada] ADD  CONSTRAINT [DF_Jugada_Consume]  DEFAULT ((0)) FOR [ConsumeCiclo]
GO
ALTER TABLE [dbo].[Jugada] ADD  CONSTRAINT [DF_Jugada_FJuego]  DEFAULT (sysdatetime()) FOR [FechaJuego]
GO
ALTER TABLE [dbo].[Jugada] ADD  CONSTRAINT [DF_Jugada_AfectaTope]  DEFAULT ((1)) FOR [AfectaTope]
GO
ALTER TABLE [dbo].[Pantalla] ADD  CONSTRAINT [DF_Pantalla_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Pantalla] ADD  CONSTRAINT [DF_Pantalla_FCrea]  DEFAULT (sysdatetime()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Ruleta] ADD  CONSTRAINT [DF_Ruleta_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Ruleta] ADD  CONSTRAINT [DF_Ruleta_FCrea]  DEFAULT (sysdatetime()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Sala] ADD  CONSTRAINT [DF_Sala_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Sala] ADD  CONSTRAINT [DF_Sala_FCrea]  DEFAULT (sysdatetime()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Tajada] ADD  CONSTRAINT [DF_Tajada_Monto]  DEFAULT ((0)) FOR [Monto]
GO
ALTER TABLE [dbo].[Tajada] ADD  CONSTRAINT [DF_Tajada_Orden]  DEFAULT ((0)) FOR [Orden]
GO
ALTER TABLE [dbo].[Tajada] ADD  CONSTRAINT [DF_Tajada_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Tajada] ADD  CONSTRAINT [DF_Tajada_Tope]  DEFAULT ((1)) FOR [AfectaTope]
GO
ALTER TABLE [dbo].[Tajada] ADD  CONSTRAINT [DF_Tajada_FCrea]  DEFAULT (sysdatetime()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[TopeDiario] ADD  CONSTRAINT [DF_TopeDiario_FCrea]  DEFAULT (sysdatetime()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[TopePantalla] ADD  CONSTRAINT [DF_TopePantalla_FCrea]  DEFAULT (sysdatetime()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Usuario] ADD  CONSTRAINT [DF_Usuario_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Usuario] ADD  CONSTRAINT [DF_Usuario_CambPwd]  DEFAULT ((0)) FOR [DebeCambiarPassword]
GO
ALTER TABLE [dbo].[Usuario] ADD  CONSTRAINT [DF_Usuario_Intentos]  DEFAULT ((0)) FOR [IntentosFallidos]
GO
ALTER TABLE [dbo].[Usuario] ADD  CONSTRAINT [DF_Usuario_FCrea]  DEFAULT (sysdatetime()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Ciclo]  WITH CHECK ADD  CONSTRAINT [FK_Ciclo_Ruleta] FOREIGN KEY([RuletaId])
REFERENCES [dbo].[Ruleta] ([RuletaId])
GO
ALTER TABLE [dbo].[Ciclo] CHECK CONSTRAINT [FK_Ciclo_Ruleta]
GO
ALTER TABLE [dbo].[EnvioCliente]  WITH CHECK ADD  CONSTRAINT [FK_Envio_Cliente] FOREIGN KEY([ClienteId])
REFERENCES [dbo].[Cliente] ([ClienteId])
GO
ALTER TABLE [dbo].[EnvioCliente] CHECK CONSTRAINT [FK_Envio_Cliente]
GO
ALTER TABLE [dbo].[EnvioCliente]  WITH CHECK ADD  CONSTRAINT [FK_Envio_Jugada] FOREIGN KEY([JugadaId])
REFERENCES [dbo].[Jugada] ([JugadaId])
GO
ALTER TABLE [dbo].[EnvioCliente] CHECK CONSTRAINT [FK_Envio_Jugada]
GO
ALTER TABLE [dbo].[Jugada]  WITH CHECK ADD  CONSTRAINT [FK_Jugada_Ciclo] FOREIGN KEY([CicloId])
REFERENCES [dbo].[Ciclo] ([CicloId])
GO
ALTER TABLE [dbo].[Jugada] CHECK CONSTRAINT [FK_Jugada_Ciclo]
GO
ALTER TABLE [dbo].[Jugada]  WITH CHECK ADD  CONSTRAINT [FK_Jugada_Cliente] FOREIGN KEY([ClienteId])
REFERENCES [dbo].[Cliente] ([ClienteId])
GO
ALTER TABLE [dbo].[Jugada] CHECK CONSTRAINT [FK_Jugada_Cliente]
GO
ALTER TABLE [dbo].[Jugada]  WITH CHECK ADD  CONSTRAINT [FK_Jugada_Pantalla] FOREIGN KEY([PantallaId])
REFERENCES [dbo].[Pantalla] ([PantallaId])
GO
ALTER TABLE [dbo].[Jugada] CHECK CONSTRAINT [FK_Jugada_Pantalla]
GO
ALTER TABLE [dbo].[Jugada]  WITH CHECK ADD  CONSTRAINT [FK_Jugada_Ruleta] FOREIGN KEY([RuletaId])
REFERENCES [dbo].[Ruleta] ([RuletaId])
GO
ALTER TABLE [dbo].[Jugada] CHECK CONSTRAINT [FK_Jugada_Ruleta]
GO
ALTER TABLE [dbo].[Jugada]  WITH CHECK ADD  CONSTRAINT [FK_Jugada_Tajada] FOREIGN KEY([TajadaId])
REFERENCES [dbo].[Tajada] ([TajadaId])
GO
ALTER TABLE [dbo].[Jugada] CHECK CONSTRAINT [FK_Jugada_Tajada]
GO
ALTER TABLE [dbo].[Pantalla]  WITH CHECK ADD  CONSTRAINT [FK_Pantalla_Ruleta] FOREIGN KEY([RuletaAsignadaId])
REFERENCES [dbo].[Ruleta] ([RuletaId])
GO
ALTER TABLE [dbo].[Pantalla] CHECK CONSTRAINT [FK_Pantalla_Ruleta]
GO
ALTER TABLE [dbo].[Pantalla]  WITH CHECK ADD  CONSTRAINT [FK_Pantalla_Sala] FOREIGN KEY([SalaId])
REFERENCES [dbo].[Sala] ([SalaId])
GO
ALTER TABLE [dbo].[Pantalla] CHECK CONSTRAINT [FK_Pantalla_Sala]
GO
ALTER TABLE [dbo].[Ruleta]  WITH CHECK ADD  CONSTRAINT [FK_Ruleta_Usuario] FOREIGN KEY([UsuarioCreacionId])
REFERENCES [dbo].[Usuario] ([UsuarioId])
GO
ALTER TABLE [dbo].[Ruleta] CHECK CONSTRAINT [FK_Ruleta_Usuario]
GO
ALTER TABLE [dbo].[Tajada]  WITH CHECK ADD  CONSTRAINT [FK_Tajada_Ruleta] FOREIGN KEY([RuletaId])
REFERENCES [dbo].[Ruleta] ([RuletaId])
GO
ALTER TABLE [dbo].[Tajada] CHECK CONSTRAINT [FK_Tajada_Ruleta]
GO
ALTER TABLE [dbo].[TopeDiario]  WITH CHECK ADD  CONSTRAINT [FK_TopeDiario_Usuario] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuario] ([UsuarioId])
GO
ALTER TABLE [dbo].[TopeDiario] CHECK CONSTRAINT [FK_TopeDiario_Usuario]
GO
ALTER TABLE [dbo].[TopePantalla]  WITH CHECK ADD  CONSTRAINT [FK_TopePantalla_Pantalla] FOREIGN KEY([PantallaId])
REFERENCES [dbo].[Pantalla] ([PantallaId])
GO
ALTER TABLE [dbo].[TopePantalla] CHECK CONSTRAINT [FK_TopePantalla_Pantalla]
GO
ALTER TABLE [dbo].[TopePantalla]  WITH CHECK ADD  CONSTRAINT [FK_TopePantalla_Usuario] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuario] ([UsuarioId])
GO
ALTER TABLE [dbo].[TopePantalla] CHECK CONSTRAINT [FK_TopePantalla_Usuario]
GO
ALTER TABLE [dbo].[Cliente]  WITH CHECK ADD  CONSTRAINT [CK_Cliente_Tipo] CHECK  (([TipoDocumento]=(3) OR [TipoDocumento]=(2) OR [TipoDocumento]=(1)))
GO
ALTER TABLE [dbo].[Cliente] CHECK CONSTRAINT [CK_Cliente_Tipo]
GO
ALTER TABLE [dbo].[Configuracion]  WITH CHECK ADD  CONSTRAINT [CK_Configuracion_Tipo] CHECK  (([TipoDato]='BOOL' OR [TipoDato]='DECIMAL' OR [TipoDato]='ENTERO' OR [TipoDato]='TEXTO'))
GO
ALTER TABLE [dbo].[Configuracion] CHECK CONSTRAINT [CK_Configuracion_Tipo]
GO
ALTER TABLE [dbo].[EnvioCliente]  WITH CHECK ADD  CONSTRAINT [CK_Envio_Estado] CHECK  (([Estado]='DESCARTADO' OR [Estado]='FALLIDO' OR [Estado]='DUPLICADO' OR [Estado]='ENVIADO' OR [Estado]='PENDIENTE'))
GO
ALTER TABLE [dbo].[EnvioCliente] CHECK CONSTRAINT [CK_Envio_Estado]
GO
ALTER TABLE [dbo].[Pantalla]  WITH CHECK ADD  CONSTRAINT [CK_Pantalla_Tipo] CHECK  (([Tipo]='WEB' OR [Tipo]='PEDESTAL'))
GO
ALTER TABLE [dbo].[Pantalla] CHECK CONSTRAINT [CK_Pantalla_Tipo]
GO
ALTER TABLE [dbo].[Pantalla]  WITH CHECK ADD  CONSTRAINT [CK_Pantalla_Tope] CHECK  (([TopeMonto] IS NULL OR [TopeMonto]>=(0)))
GO
ALTER TABLE [dbo].[Pantalla] CHECK CONSTRAINT [CK_Pantalla_Tope]
GO
ALTER TABLE [dbo].[Tajada]  WITH CHECK ADD  CONSTRAINT [CK_Tajada_Prob] CHECK  (([Probabilidad] IS NULL OR [Probabilidad]>=(0) AND [Probabilidad]<=(1)))
GO
ALTER TABLE [dbo].[Tajada] CHECK CONSTRAINT [CK_Tajada_Prob]
GO
ALTER TABLE [dbo].[Tajada]  WITH CHECK ADD  CONSTRAINT [CK_Tajada_Tipo] CHECK  (([Tipo]=(1) OR [Tipo]=(0)))
GO
ALTER TABLE [dbo].[Tajada] CHECK CONSTRAINT [CK_Tajada_Tipo]
GO
ALTER TABLE [dbo].[TopeDiario]  WITH CHECK ADD  CONSTRAINT [CK_TopeDiario_Monto] CHECK  (([Monto]>=(0)))
GO
ALTER TABLE [dbo].[TopeDiario] CHECK CONSTRAINT [CK_TopeDiario_Monto]
GO
ALTER TABLE [dbo].[TopePantalla]  WITH CHECK ADD  CONSTRAINT [CK_TopePantalla_Monto] CHECK  (([Monto]>=(0)))
GO
ALTER TABLE [dbo].[TopePantalla] CHECK CONSTRAINT [CK_TopePantalla_Monto]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [CK_Usuario_Rol] CHECK  (([Rol]='OPERADOR' OR [Rol]='ADMIN' OR [Rol]='SUPERADMIN'))
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [CK_Usuario_Rol]
GO
